.jumbotron1{
    width: 1200px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    background-image: url("../e-Commerce/images/color_body_bg_image.jpg");
    height: 1200px;
}
.fixed{
    width: 50px;
    height: 50px;
    display: inline-block;
    text-align: center;
    border: 1px solid royalblue;
    line-height: 45px;
    position: fixed;
    right: 20px;
    bottom: 50px;
    background-image: url("../e-Commerce/images/down-arrow.svg");
    background-color: royalblue;
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 25px;
    transform: rotate(180deg);
}